.files-container {
  display: flex;
  flex-direction: column;

  position: relative;
}

.files-wrapper {
  background-color: var(--shape-button);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border-radius: 0.4rem;

  width: 7rem;
  height: 2.5rem;

  & input {
    height: 2.5rem;
    position: absolute;

    left: 0;

    padding-top: 0.5rem;
    padding-left: 0.5rem;

    font: var(--body-sm);
    color: var(--input-placeholder);

    &:focus {
      outline: 1px solid transparent;
    }
  }
}

input::file-selector-button {
  opacity: 0;
  outline: 1px solid transparent;

  cursor: pointer;
}
