.radio-container {
  height: 100%;
}

.radio-wrapper {
  outline: 1px solid var(--input-stroke);
  border: 1px solid var(--input-stroke);

  border-radius: 0.5rem;

  display: flex;
  flex-shrink: 1;

  height: 3rem;
  gap: 0.5rem;
  padding: 0.3rem;
}

.radio-inner {
  border-radius: 0.4rem;
  background-color: var(--input-base);
  flex: 1;
  display: flex;
  gap: 0.5rem;

  align-items: center;
  justify-content: center;

  position: relative;

  & label {
    font: var(--body-sm-bold);
  }
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    background-color: var(--shape-button);
  }

  &:has(:checked) {
    background-color: var(--input-stroke);
    & svg path {
      fill: var(--brand-light);
    }
  }
}
